.tl-comment-listitem {
  // font-family: 'Noto Sans', Roboto, Arial, Helvetica, sans-serif;
  // font-size: 12px;
  // display: flex;
  // flex-direction: row;
  //
  // width: 100%;
  // height: auto;
  // margin-bottom: 16px;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: auto;
}

.tl-comment-listitem-div {
  font-family: 'Noto Sans', Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.tl-comment-show-listitem-image {
  border-radius: 50%;
  margin-right: 15px;
  width: 40px;
  height: 40px;
}

.tl-comment-show-listitem-content {
  display: flex;
  flex-direction: column;
}

.tl-comment-show-listitem-content-username {
  color: black;
  font-weight: 700;
  font-size: 12px;
}

.tl-comment-show-listitem-content-timestamp {
  color: grey;
}

.tl-comment-show-listitem-content-body {
  font-weight: 400;
  margin-top: 5px;
  max-width: 550px;
}

.tl-comment-show-listitem-content-reply-like-bar {
  font-size: 13px;
  text-transform: uppercase;
  color: grey;
  margin-top: 8px;
}

.tl-comment-show-listitem-content-reply-like-bar:hover {
  text-transform: uppercase;
  cursor: pointer;
  color: black;

}
.tl-comment-show-listitem-child-comments-button {
  font-style: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: block;
  cursor: pointer;
  margin: 10px 8px;
}

.down-carrot {
  font-size: 18px;
  font-weight: bolder;
}

.comment-listitem-action-menu {
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

div.comment-listitem-action-menu > ul > li {
  list-style: none;
}
