.login-form-container {
  font-family: 'Roboto', sans-serif;

  width: 450px;
  height: auto;
  min-height: 500px;

  padding: 48 40 36 40;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.09);

  margin: auto;
}

.login-form-container-logo {
  padding-top: 48px;
  margin-left: 40px;
}

.login-form-container-header {
  color: #212121;
  font-size: 24px;
  font-weight: 500;

  margin-left: 40px;
}

.login-form-container-subheader {
  font-size: 16px;

  padding-top: 8px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}

.login-form-box {


  padding-top: 24px;
  margin-left: 40px;
}

.login-form-input {
  font-size: 14px;

  width: 365px;
  height: 18px;

  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 16px;
  margin-bottom: 24px;

  border-bottom: 1px solid lightgrey;
}

.login-form-input:focus {
  outline-width: 0;
  border-bottom: 1px solid #4285f4;
  transition-duration: 2s;
}

.login-form-label {
  font-size: 12px;
  color: gray;
}

.login-form-container-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 50px;
  margin-right: 40px;
  padding-bottom: 36px;
}

.login-link {
  color: #4285f4;
  text-decoration: none;
}

.session-submit {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;

  width: 88px;
  height: 36px;

  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);

  cursor: pointer;
}

.session-errors {
  color: red;
  font-size: 12px;

  list-style: none;
  min-height: 14px;
}

.demo-login-button {
  font-size: 12px;
  font-weight: 400;
  color: #4285f4;

  padding: 0;
  margin-top: 10px;
  margin-left: 470px;
  border: none;

  cursor: pointer;
}
