.reply-create-comment-form-div {
  font-family: Roboto, Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: row;
}

.reply-create-comment-form-image {
  border-radius: 50%;
}

.reply-create-comment-form {
  margin-left: 20px;
}

.reply-create-comment-form-body {
  font-size: 14px;

  resize: none;
  width: 700px;
  height: 14px;
  overflow: hidden;
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid lightgrey;
  cursor: text;
}

.reply-create-comment-form-body:focus {
  border-bottom: 1px solid black;
  outline: none;
  transition: 2s;
}

.reply-create-comment-cancel {
  color: grey;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;

  margin-right: 15px;

  cursor: pointer;
}

.reply-create-comment-form-footer {
  margin-top: 5px;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.reply-create-comment-cancel:hover {
  color: black;
}

.reply-create-comment-submit {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;

  width: 88px;
  height: 36px;

  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);

  cursor: pointer;
}
