.nested-comment-listitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 100%;
  height: auto;
}

.nested-comment-listitem-div {
  font-family: 'Noto Sans', Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.nested-comment-show-listitem-image {
  border-radius: 50%;
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

.nested-comment-show-listitem-content {
  display: flex;
  flex-direction: column;
}

.nested-comment-show-listitem-content-username {
  color: black;
  font-weight: 700;
  font-size: 12px;
}

.nested-comment-show-listitem-content-timestamp {
  color: grey;
}

.nested-comment-show-listitem-content-body {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 600px;
}

.nested-comment-show-listitem-content-reply-like-bar {
  font-size: 13px;
  text-transform: uppercase;
  color: grey;
  margin-top: 8px;
  display: none;
}

.nested-comment-show-listitem-content-reply-like-bar:hover {
  text-transform: uppercase;
  cursor: pointer;
  color: black;

}
.nested-comment-show-listitem-child-comments-button {
  font-style: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: block;
  cursor: pointer;
  margin: 10px 8px;
  display: none;
}

.down-carrot {
  font-size: 18px;
  font-weight: bolder;
}
