.edit-video-thumbnail-icon {
  position: absolute;
  top: 60px;
  left: 20px;
}

.edit-video-thumbnail-input {
  width: 60px;
  height: 50px;
  background-color: green;

  margin-top: 15px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.edit-video-thumbnail-remove {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;

  width: 88px;
  height: 36px;

  background-color: grey;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);
  margin-top: 20px;
  margin-left: 25px;

  cursor: pointer;
}

.edit-video-thumbnail-input-div {
  display: flex;
  flex-direction: row;
}
