.video-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px auto 0 auto;
}

.video-show-player {
  position: relative;
}

.video-player-controls {
  position: absolute;
  top: 435px;
  left: 20px;
  display: flex;
  flex-direction: column;
  // opacity: 1;
}

.video-player-controls-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video-player-controls-icons-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video-player-controls-icons-left > * {
  margin: 0 3px;
  margin-left: 10px;
}

.video-player-playpause-button {
  background: transparent;
  border: none;
  outline: none;
}

.video-player-arrow-right {
  width: 0;
  height: 0;
  border: none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid #f1f1f1;

  cursor: pointer;
}

.video-player-arrow-right:hover {
  border-left: 14px solid #fff;
  transition-duration: 1s;
}

#progressBar {
   background-color: rgba(102, 102, 102, 0.5);
   width:810px;
   height:2.5px;
   display: block;
}

#progressBar:hover {
  height: 5px;
  transition: 0.5s;
  cursor: pointer;
}

span#progress {
   background-color:#ee0f0f; // red
   height: 100%;
   display: block;
   opacity: 1;
 }

 .video-player-digital-clock {
   color: rgb(238, 238, 238);
   font-weight: 200;
   font-size: 13px;
   font-family: 'Noto Sans', Roboto, Arial, Helvetica, sans-serif;

   background-color: transparent;
   margin-left: 5px;
 }

 .video-player-volume-controls {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 5px;
 }

 .video-player-mute-button {
   margin-right: 5px;
 }

.video-layer-volume-slider {
  // margin-right: -10px;
}

.video-layer-volume-slider:focus {
  outline: none;
}


//volume slider

input[type=range].video-layer-volume-slider {
  -webkit-appearance: none;
  // width: 100%;
  width: 70px;
  margin: 10.15px 0;
  margin-right: 4px;
  margin-left: -7px;
}
input[type=range].video-layer-volume-slider:focus {
  outline: none;
}
input[type=range].video-layer-volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  // border-radius: 25px;
  border-radius: 50%;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].video-layer-volume-slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  // height: 37px;
  // width: 37px;
  // border-radius: 50px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.15px;
}
input[type=range].video-layer-volume-slider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
  border-radius: 50%;
}
input[type=range].video-layer-volume-slider::-moz-range-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  // border-radius: 25px;
  border-radius: 50%;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].video-layer-volume-slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 37px;
  width: 37px;
  // border-radius: 50px;
  border-radius: 50%;

  background: #ffffff;
  cursor: pointer;
}
input[type=range].video-layer-volume-slider::-ms-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].video-layer-volume-slider::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid rgba(1, 1, 1, 0);
  // border-radius: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].video-layer-volume-slider::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid rgba(1, 1, 1, 0);
  // border-radius: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].video-layer-volume-slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 37px;
  width: 37px;
  // border-radius: 50px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  height: 6.7px;
}
input[type=range].video-layer-volume-slider:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].video-layer-volume-slider:focus::-ms-fill-upper {
  background: #ffffff;
}

.video-show-footer {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid lightgrey;
}

.video-player-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}

.video-player-footer-views {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.6);
  padding-bottom: 15px;
}

.video-player-secondary-info {
  display: flex;
  flex-direction: column;

  padding-top: 16px;
  border-top: 1px solid lightgrey;
  margin-top: 20px;
}

.video-player-secondary-info-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.video-player-image-and-uploader-info {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.video-player-secondary-info-image {
  border-radius: 50%;
  margin-right: 15px;
}

.video-player-uploader-info {
  display: flex;
  flex-direction: column;
}

.video-player-footer-username {
  font-size: 14px;
  font-weight: 500;
  text-decoration-style: solid;
}

.video-player-footer-date {
  font-size: 13px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.6);
}

.video-player-edit-button {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;

  min-width: 72px;
  height: 36px;
  padding: 10px 16px;
  align-items: center;

  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);

  cursor: pointer;
}

.video-player-delete-button {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;

  min-width: 72px;
  height: 36px;
  padding: 10px 16px;
  margin-left: 15px;
  align-items: center;

  background-color: red;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);

  cursor: pointer;
}

.video-player-footer-description-row {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-left: 64px;
  max-width: 615px;
}
