.index-list-item {
  font-family: Roboto, Arial, sans-serif;
  display: inline-block;

  width: 210px;
  height: 188px;
  padding-right: 4px;
}

div.index-list-item > a {
  text-decoration: none;
}

.index-list-item-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 520;
  color: rgb(17, 17, 17);
  text-decoration: none;
  text-decoration-style: solid;

  display: block;
  margin: 6px 0;

  cursor: pointer;
}

.index-list-item-author {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration-style: solid;
  color: rgba(17, 17, 17, 0.6);

  // margin-top: 8px;
}
