.video-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-top: 25px;
  margin: 25px auto 0 auto;
}

.video-show-player {
  position: relative;
}

.video-player-playpause-button {
  background: transparent;
  border: none;
  position: absolute;
  top: 460px;
  left: 30px;
  outline: none;
}

.video-player-arrow-right {
  width: 0;
  height: 0;
  border: none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid #f1f1f1;

  cursor: pointer;
}

.video-player-arrow-right:hover {
  border-left: 14px solid #fff;
  transition-duration: 1s;
}

#progressBar {
   position: absolute;
   top: 450px;
   left: 20px;
   background-color: rgba(102, 102, 102, 0.5);
   width:810px;
   height:2.5px;
   display: block;
}

#progressBar:hover {
  height: 5px;
  transition: 0.5s;
}

span#progress {
   background-color:#ee0f0f; // red
   height: 100%;
   display: block;
   opacity: 1;
 }

 .video-player-digital-clock {
   color: rgb(238, 238, 238);
   font-weight: 200;
   font-size: 13px;
   font-family: 'Noto Sans', Roboto, Arial, Helvetica, sans-serif;

   position: absolute;
   top: 460px;
   left: 70px;
   background-color: transparent;
 }

 .video-player-mute-button {
   position: absolute;
   top: 445px;
   left: 132px;
 }

.video-layer-volume-slider {
  position: absolute;
  top: 456px;
  left: 170px;
}

.video-layer-volume-slider:focus {
  outline: none;
}


//volume slider

input[type=range].video-layer-volume-slider {
  -webkit-appearance: none;
  // width: 100%;
  width: 70px;
  margin: 10.15px 0;
}
input[type=range].video-layer-volume-slider:focus {
  outline: none;
}
input[type=range].video-layer-volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  // border-radius: 25px;
  border-radius: 50%;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].video-layer-volume-slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  // height: 37px;
  // width: 37px;
  // border-radius: 50px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.15px;
}
input[type=range].video-layer-volume-slider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
  border-radius: 50%;
}
input[type=range].video-layer-volume-slider::-moz-range-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  // border-radius: 25px;
  border-radius: 50%;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].video-layer-volume-slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 37px;
  width: 37px;
  // border-radius: 50px;
  border-radius: 50%;

  background: #ffffff;
  cursor: pointer;
}
input[type=range].video-layer-volume-slider::-ms-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].video-layer-volume-slider::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid rgba(1, 1, 1, 0);
  // border-radius: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].video-layer-volume-slider::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid rgba(1, 1, 1, 0);
  // border-radius: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].video-layer-volume-slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 37px;
  width: 37px;
  // border-radius: 50px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  height: 6.7px;
}
input[type=range].video-layer-volume-slider:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].video-layer-volume-slider:focus::-ms-fill-upper {
  background: #ffffff;
}
